<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" >
        <title>
            First Day of Mobile/Web
        </title>
    </head>
    <body>
        <h1>
            Local Node Test and Handlebars Test
        </h1>
        <p>
            Hey there, {{name}}! Hope you're doing well.<br><br>Today's date is {{month}}/{{day}}/{{year}}.
        </p>
    </body>
</html>